#train-logo {
  position: absolute;
  margin-top: 3px;
  margin-left: 6px;
}

.page-header h1 {
  margin-left: 50px;
}

.btn-link {
  color: white; background: #5B8BA0 !important; padding: 5px 10px; display: block; max-width: 200px; text-align: center;
  border-bottom: none; margin: 5px 0px; font-weight: bold; font-size: 13px;
}

.card-action-link {
  max-width: 100px; position: absolute; right: 5px; top: 1px;
}

.btn-link:hover {
  border-bottom: none; background: #193440 !important; color: white;
}

.appointment-manager .institution-select {
  width: 280px;
}

.appointment-manager .right-pad {
  margin-right: 8px;
}

.new-person-form input {
  width: 100px !important;
}

.new-person-form .email-input {
  width: 200px !important;
}

.new-person-form,.cancel-form {
  display: inline;
}

.appointment-manager h3 {
  margin-bottom: 0px;
}

.appointment-manager {
  margin-bottom: 30px;
}